body {
    background-image: url(../img/pattern.jpg);
    font-family: 'Slabo 27px', serif;
    background-repeat: repeat;
    float: center;
    display:flex; 
    flex-direction:column; 
}

#logo {
    margin-right: auto;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    margin: 0;
    padding-right: 10;
    background-color: white;
    width: 100%;
}

header ul {
    display: flex;
    padding-right: 20;
    list-style: none;
}

header ul a {
    padding-right: 10px;
}

section {
    background-color: #FFFFFF;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    /* border: 1px solid #bdbdbd;  */
    /* padding-bottom: 20; */
}

#article-list {
    background-color: #FFFFFF;
    margin: 10px;
    text-align: left;
    /* margin-top: 5px; */
}

#article-list div {
    padding: 0 5 0 5;
}

#article-list div p {
    /* padding-bottom: 20; */
    border-bottom: 2px solid #8c8b8b;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 1rem; */
    background-color: #fff;
    text-align: center;
  }

footer h5 {
    /* padding: 20px; */
    color: #000;
    /* background: white;  */
}

.label {
    margin-left: 50;
    margin-top: 0;
    margin-bottom: 5;
}

a {
    color: rgb(19, 148, 199);
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}
a:hover {
    text-decoration: underline;
}

.demoForm {
	width: 500px;
	margin: auto;
}